[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pypi"

[packages]
reader = "*"
pandas = "*"
tushare = "*"
black = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
ta-lib = {file = "C:\\Users\\admin\\Downloads\\TA_Lib-0.4.26-cp311-cp311-win_amd64.whl"}
matplotlib = "*"
lightgbm = "*"
setuptools = "*"
wheel = "*"
scipy = "*"
scikit-learn = "*"
imbalanced-learn = "*"

[dev-packages]
pytest = "*"
ta-lib = "*"

[requires]
python_version = "3.11"
